[submodule "pico-core"]
	path = pico-core
	url = git@gitlab.4pd.io:ml_system/pico/pico-core.git
	update = none
[submodule "third-party"]
	path = third-party
	url = git@gitlab.4pd.io:ml_system/pico/third-party.git
	update = none

